<div class="overflow-x-auto">
  <table class="table table-zebra w-full">
    <tbody>
      <tr>
        <td>STRENGTH</td>
        <td>DEXTERITY</td>
        <td>INTELLIGENCE</td>
      </tr>
      <tr>
        <td>20</td>
        <td>50</td>
        <td>70</td>
      </tr>
    </tbody>
  </table>
</div>