  <div class="card mx-auto mt-5" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title text-center">{{monster}}QUEST</h5>
   <p>{{name}}</p>
    <p class="card-text">{{description}}</p>
    <hr>
   <span class="card-text text-info"> 
      {{monster}}
   </span>
   <hr>
    Lets battle!!
    <a href="./gameplay"><button class="btn btn-info">BEGIN QUEST</button></a>

  </div>
</div>