<!-- <!DOCTYPE html> -->
<html lang="en" data-theme="">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adventure Quest</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="shortcut icon" href="#" />
    {{! <link rel="icon" type="image/x-icon" href="img/favicon.ico" /> }}
  </head>

  <style>
    body { font-family: 'Eagle Lake', cursive; }
  </style>

  <!-- <body class="width-full max-h-screen"> -->
  <header class="text-primary justify-center align-center text-center">
    <div class="navbar bg-warning justify-center align-center text-center">
      <div class="flex-1 justify-center align-center text-center">
        <a class="btn btn-ghost normal-case text-xl justify-center align-center text-center" href="/">ADVENTURE QUEST</a>
      </div>
      <div class="flex-none justify-center align-center text-center">
        <ul class="menu menu-horizontal p-0 justify-center align-center text-center">
          {{#if logged_in}}
            <li><a href="/api/questmasters/logout">LOG OUT</a></li>
          {{else}}
          {{/if}}
        </ul>
      </div>
    </div>
  </header>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

  {{{body}}}

  <script src="https://cdn.tailwindcss.com"></script>
  <!-- </body> -->

</html>
