<!-- <!DOCTYPE html> -->
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adventure Quest</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  </head>

  <body>
    <header class="text-primary">
      <div class="navbar bg-warning">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/">ADVENTURE QUEST</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal p-0">
            {{#if logged_in}}
<<<<<<< HEAD
            <li><a href="/">LOG OUT</a></li>
            {{/if}} 
=======
              <li><a href="/api/questmasters/logout">LOG OUT</a></li>
            {{else}}

            {{/if}}
>>>>>>> a83a56e (user can now log out, and logout displays only when user is logged in)
          </ul>
        </div>
      </div>
    </header>

    <style>
      body { font-family: 'Eagle Lake', cursive; }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    {{{body}}}

    <script src="https://cdn.tailwindcss.com"></script>

  </body>

</html>
