{{!--
<!DOCTYPE html> --}}

<body class="hero min-h-screen"
  style="background-image: url(https://thumbs.dreamstime.com/b/vintage-fantasy-world-map-pirate-ship-compass-dragons-old-paper-texture-vintage-fantasy-world-map-pirate-ship-compass-146156918.jpg);">

  <div class="flex w-full justify-center">
    <div class="card w-5/12 bg-base-100 shadow-xl justify-evenly">
      <div class="card-body">
        <h2 class="text-warning text-5xl card-title text-center">CREATE AN</h2><br>
        <h2 class="text-warning text-5xl card-title text-center">ADVENTURER</h2>
        <br>
        <form>
          <label for="newAdvName">What is your Adventurer Name?</label><br>
          <input id="newAdvName" type="text" placeholder="NAME" class="input input-bordered w-full my-4 max-w-xs" />
        </form>
        <p>Select a Class</p>
        <select class="my-4 select select-bordered w-full max-w-xs" id="classAdv">
          {{#each classes}}
          {{>createAdvenDisplay}}
          {{/each}}
        </select>


        <div class="table">

          <div class="table-row">
            <span id="pntsAvail" class="text-warning table-cell text-center">15</span>
            <span class="text-accent-focus table-cell text-center"> / </span>
            <span id="pntsRemain" class="text-warning table-cell text-center">15</span>
          </div>


          <div class="table-row">
            <p class="table-cell text-center">.</p>
            <p class="table-cell text-center">.</p>
            <p class="table-cell text-center">.</p>
          </div>


          <div class="table-row">
            <p class="table-cell text-center">STR</p>
            <p class="table-cell text-center">DEX</p>
            <p class="table-cell text-center">INT</p>
          </div>


          <div id="stats" class="table-row">
            <form class="table-cell"><span>
                <input id="str" type="number" min="0" max="15" value="0" placeholder="str"
                  class="input input-bordered w-11/12 max-w-xs text-center" /></span>
            </form>
            <form class="table-cell">
              <input id="dex" type="number" min="0" max="15" value="0" placeholder="dex"
                class="input input-bordered w-11/12 max-w-xs text-center" />
            </form>
            <form class="table-cell">
              <input id="int" type="number" min="0" max="15" value="0" placeholder="int"
                class="input input-bordered w-11/12 max-w-xs text-center" />
            </form>
          </div>

        </div>



        <div class="card-actions justify-end">
          <button class="btn btn-primary" id="create">Create Adventurer</button>
        </div>

        </form>
      </div>
    </div>
  </div>

</body>

<script src="../js/createAdventurer.js"></script>

<!-- <div class="w-full max-w-xs"> -->
<!-- <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"> -->
<!--   <div class="mb-4"> -->
<!--     <label class="block text-gray-700 text-sm font-bold mb-2" for="username"> -->
<!--       Username -->
<!--     </label> -->
<!--     <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username"> -->
<!--   </div> -->
<!--   <div class="mb-6"> -->
<!--     <label class="block text-gray-700 text-sm font-bold mb-2" for="password"> -->
<!--       Password -->
<!--     </label> -->
<!--     <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************"> -->
<!--     <p class="text-red-500 text-xs italic">Please choose a password.</p> -->
<!--   </div> -->
<!--   <div class="flex items-center justify-between"> -->
<!--     <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"> -->
<!--       Sign In -->
<!--     </button> -->
<!---->
<!--   </div> -->
<!-- </form> -->