{{!-- <!DOCTYPE html> --}}

<div 
class="hero min-h-screen" 
style="background-image: url(https://thumbs.dreamstime.com/b/vintage-fantasy-world-map-pirate-ship-compass-dragons-old-paper-texture-vintage-fantasy-world-map-pirate-ship-compass-146156918.jpg);"
>

<div class="flex justify-start">

<div class="card w-96 bg-base-100 shadow-xl justify-evenly">
  <div class="card-body">
    <h2 class="card-title">CREATE A CHARCTER</h2>
    <select class="select select-bordered w-full max-w-xs" id="classAdv">
  <option selected id="classes">CLASS</option>
  {{#each classes}}
 {{>createAdvenDisplay}}
  {{/each}}
</select>
{{!-- {{#each adventurer}}
{{>createAdvenDisplay}}
{{/each}} --}}
<input type="text" placeholder="NAME" class="input input-bordered w-full max-w-xs" />

  <p>STRENGTH</p>
<div class="rating">
  <input id="strength-1" type="radio" name="rating-1" class="mask mask-star" />
  <input id="strength-2" type="radio" name="rating-1" class="mask mask-star" />
  <input id="strength-3" type="radio" name="rating-1" class="mask mask-star" />
  <input id="strength-4" type="radio" name="rating-1" class="mask mask-star" />
  <input id="strength-5" type="radio" name="rating-1" class="mask mask-star" checked />
  <input id="strength-6" type="radio" name="rating-1" class="mask mask-star" />
  <input id="strength-7" type="radio" name="rating-1" class="mask mask-star" />
  <input id="strength-8" type="radio" name="rating-1" class="mask mask-star" />
  <input id="strength-9" type="radio" name="rating-1" class="mask mask-star" />
  <input id="strength-10" type="radio" name="rating-1" class="mask mask-star" />
</div>
  <p>INTELLIGENCE</p>
<div class="rating">
  <input id="intellegence-1" type="radio" name="rating-2" class="mask mask-star" />
  <input id="intellegence-2" type="radio" name="rating-2" class="mask mask-star" />
  <input id="intellegence-3" type="radio" name="rating-2" class="mask mask-star" />
  <input id="intellegence-4" type="radio" name="rating-2" class="mask mask-star" />
  <input id="intellegence-5" type="radio" name="rating-2" class="mask mask-star" checked/>
  <input id="intellegence-6" type="radio" name="rating-2" class="mask mask-star" />
  <input id="intellegence-7" type="radio" name="rating-2" class="mask mask-star" />
  <input id="intellegence-8" type="radio" name="rating-2" class="mask mask-star" />
  <input id="intellegence-9" type="radio" name="rating-2" class="mask mask-star" />
  <input id="intellegence-10" type="radio" name="rating-2" class="mask mask-star" />
</div>
  <p>DEXTERITY</p>
<div class="rating">
  <input id="dexterity-1" type="radio" name="rating-3" class="mask mask-star" />
  <input id="dexterity-2" type="radio" name="rating-3" class="mask mask-star" />
  <input id="dexterity-3" type="radio" name="rating-3" class="mask mask-star" />
  <input id="dexterity-4" type="radio" name="rating-3" class="mask mask-star" />
  <input id="dexterity-5" type="radio" name="rating-3" class="mask mask-star" checked />
  <input id="dexterity-6" type="radio" name="rating-3" class="mask mask-star" />
  <input id="dexterity-7" type="radio" name="rating-3" class="mask mask-star" />
  <input id="dexterity-8" type="radio" name="rating-3" class="mask mask-star" />
  <input id="dexterity-9" type="radio" name="rating-3" class="mask mask-star" />
  <input id="dexterity-10" type="radio" name="rating-3" class="mask mask-star" />
</div>

    <div class="card-actions justify-end">
      <a href="/questboard"<button class="btn btn-primary">CREATE</button></a>
    </div>
  </div>
</div>

</div>

<script src="../public/js/character.js"></script>