<!-- <!DOCTYPE html> -->
<div class="hero min-h-screen"
  style="background-image: url(http://www.psd-dude.com/tutorials/resources-images/old-vintage-paper-textures-for-designers/grunge-stained-old-paper-texture.jpg);">
  <section>
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">

        <h3>SELECT MONSTER</h3>
        <select class="select w-full max-w-xs" id="monster">
          <option>Select Monster</option>
        </select>


        <h3>SELECT QUEST</h3>
        <div class="flex justify-center">
          <div>
            <div id="questList">
            </div>

            <h3 id="difficulty">DIFFICULTY: </h3>
            <div class="card-actions justify-end">
              <button class="btn btn-primary" id="create">Create Quest</button>
            </div>
          </div>
        </div>
  </section>


</div>
<script src="../js/createQuest.js"></script>
