<div 
class="hero min-h-screen" 
style="background-image: url(https://thumbs.dreamstime.com/b/vintage-fantasy-world-map-pirate-ship-compass-dragons-old-paper-texture-vintage-fantasy-world-map-pirate-ship-compass-146156918.jpg);"
>

<div class="flex justify-start">

<div class="card w-96 bg-base-100 shadow-xl justify-evenly">
  <div class="card-body">
    <h2 class="card-title">CREATE A CHARCTER</h2>
    <select class="select select-bordered w-full max-w-xs" id="classAdv">
  <option selected>CLASS</option>
</select>
{{!-- {{#each adventurer}}
{{>createAdvenDisplay}}
{{/each}} --}}
<input type="text" placeholder="NAME" class="input input-bordered w-full max-w-xs" />

  
  <p>STRENGTH</p>
<div class="rating">
  <input type="radio" name="rating-1" class="mask mask-star" />
  <input type="radio" name="rating-1" class="mask mask-star" />
  <input type="radio" name="rating-1" class="mask mask-star" />
  <input type="radio" name="rating-1" class="mask mask-star" />
  <input type="radio" name="rating-1" class="mask mask-star" />
  <input type="radio" name="rating-1" class="mask mask-star" />
  <input type="radio" name="rating-1" class="mask mask-star" />
  <input type="radio" name="rating-1" class="mask mask-star" />
  <input type="radio" name="rating-1" class="mask mask-star" />
  <input type="radio" name="rating-1" class="mask mask-star" />
</div>
  <p>INTELLIGENCE</p>
<div class="rating">
  <input type="radio" name="rating-2" class="mask mask-star" />
  <input type="radio" name="rating-2" class="mask mask-star" />
  <input type="radio" name="rating-2" class="mask mask-star" />
  <input type="radio" name="rating-2" class="mask mask-star" />
  <input type="radio" name="rating-2" class="mask mask-star" />
  <input type="radio" name="rating-2" class="mask mask-star" />
  <input type="radio" name="rating-2" class="mask mask-star" />
  <input type="radio" name="rating-2" class="mask mask-star" />
  <input type="radio" name="rating-2" class="mask mask-star" />
  <input type="radio" name="rating-2" class="mask mask-star" />
</div>
  <p>DEXTERITY</p>
<div class="rating"><spann>10</spann>
  <input type="radio" name="rating-3" class="mask mask-star" />
  <input type="radio" name="rating-3" class="mask mask-star" />
  <input type="radio" name="rating-3" class="mask mask-star" />
  <input type="radio" name="rating-3" class="mask mask-star" />
  <input type="radio" name="rating-3" class="mask mask-star" />
  <input type="radio" name="rating-3" class="mask mask-star" />
  <input type="radio" name="rating-3" class="mask mask-star" />
  <input type="radio" name="rating-3" class="mask mask-star" />
  <input type="radio" name="rating-3" class="mask mask-star" />
  <input type="radio" name="rating-3" class="mask mask-star" />
</div>


    <div class="card-actions justify-end">
      <button class="btn btn-primary">CREATE</button>
    </div>
  </div>
</div>

</div>

<script src="../public/js/character.js"></script>