


{{!-- <iframe src='https://gfycat.com/ifr/FemaleThatInvisiblerail' frameborder='0' scrolling='no' width='100%' height='100%'></iframe> --}}
  {{!-- <img src="../public/assets/questPlay.gif" class="bg-cover"> --}}

<section class="hero min-h-screen" style="background-image: url(https://thumbs.gfycat.com/FemaleThatInvisiblerail-size_restricted.gif);">
<div class="card mx-auto mt-5" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title text-center">QUEST</h5>
   
    <p class="card-text">Welcome to your quest good luck! 
    </p>
    <hr>
   <span class="card-text text-info"> 
      may the gods be on your side
   </span>
   <hr>
    Lets battle!!
  </div>
</div>
</section>