<!-- <!DOCTYPE html> -->

<link rel="shortcut icon" href="#">
{{!--
<link rel="icon" type="image/x-icon" href="../../img/favicon.ico" /> --}}
{{! <iframe src='https://gfycat.com/ifr/FemaleThatInvisiblerail' frameborder='0' scrolling='no' width='100%'
  height='100%'></iframe> }}
{{! <img src="../public/assets/questPlay.gif" class="bg-cover"> }}

<section class="hero">
  <img class="w-full bg-cover h-screen min-h-screen" src="../img/playQuest.gif">

  <div class="grid grid-cols-2 gap-4">

    <div class="grid grid-cols-1 gap-4 justify-center">
      <div>
        <br>
        <p class="text-left text-4xl text-accent-focus" id="adventurerName"></p>
        <p class="text-left text-3xl text-info" id="adventurerHitPoints"></p>
        <p class="text-left text-3xl text-info" id="adventurerStrength"></p>
        <p class="text-left text-3xl text-info" id="adventurerDexterity"></p>
        <p class="text-left text-3xl text-info" id="adventurerIntelligence"></p>
        <p class="text-left text-3xl text-info" id="adventurerHP"></p><br>
        <p class="text-center text-2xl text-warning" id="adventurerSwing"></p>
        <p class="text-center text-4xl text-accent-focus" id="adventurerSpeak"></p>
        <p class="text-right text-5xl text-error" id="injuries"></p>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-4 justify-center">
      <div>
        <br>
        <p class="text-right text-4xl text-accent-focus" id="monsterName"></p>
        <p class="text-right text-3xl text-info" id="monsterHitPoints"></p>
        <p class="text-right text-3xl text-info" id="monsterStr"></p>
        <p class="text-right text-3xl text-info" id="monsterDex"></p>
        <p class="text-right text-3xl text-info" id="monsterInt"></p>
        <p class="text-right text-3xl text-info" id="monsterHP"></p><br>
        <p class="text-center text-2xl text-warning" id="monsterSwing"></p>
        <p class="text-center text-4xl text-accent-focus" id="monsterSpeak"></p>
        <p class="text-left text-5xl text-error" id="damage"></p>
      </div>
    </div>
  </div>

  <section class="hero min-h-screen">
    <div class="hero-content text-center">
      <div class="text-3xl">
        <p class="text-accent-focus" id="battle"></p>
        <p id="outcome" class="text-5xl text-warning"></p>
      </div>
    </div>
    </div>
  </section>


  <script src="../js/gamePlay.js"></script>
</section>
