<!-- <!DOCTYPE html> -->

{{!-- <link rel="shortcut icon" href="#"> --}}

<link rel="icon" type="image/x-icon" href="../../img/favicon.ico" />
{{! <iframe src='https://gfycat.com/ifr/FemaleThatInvisiblerail' frameborder='0' scrolling='no' width='100%'
  height='100%'></iframe> }}
{{! <img src="../public/assets/questPlay.gif" class="bg-cover"> }}

<div class="hero">
  <img class="w-full bg-cover h-screen min-h-screen" src="../img/playQuest.gif">

  <div class="grid grid-cols-2 gap-4">

    <div class="m-40 grid grid-cols-1 gap-4 justify-center">
      <div>
        <br>
        <p class="my-15 text-left text-4xl text-accent-focus" id="adventurerName"></p><br><br>
        <p class="text-left text-xxl text-info" id="adventurerHitPoints"></p>
        <p class="text-left text-xxl text-info" id="adventurerStrength"></p>
        <p class="text-left text-xxl text-info" id="adventurerDexterity"></p>
        <p class="text-left text-xxl text-info" id="adventurerIntelligence"></p>
        <p class="text-left text-xxl text-info" id="adventurerHP"></p><br>
        <p class="text-center text-2xl text-warning" id="adventurerSwing"></p>
        <p class="text-center text-4xl text-accent-focus" id="adventurerSpeak"></p>
        <p class="text-right text-5xl text-error" id="injuries"></p>
      </div>
    </div>

    <div class="m-40 grid grid-cols-1 gap-4 justify-center">
      <div>
        <br>
        <p class="my-15 text-right text-4xl text-accent-focus" id="monsterName"></p><br><br>
        <p class="text-right text-xxl text-info" id="monsterHitPoints"></p>
        <p class="text-right text-xxl text-info" id="monsterStr"></p>
        <p class="text-right text-xxl text-info" id="monsterDex"></p>
        <p class="text-right text-xxl text-info" id="monsterInt"></p>
        <p class="text-right text-xxl text-info" id="monsterHP"></p><br>
        <p class="text-center text-2xl text-warning" id="monsterSwing"></p>
        <p class="text-center text-4xl text-accent-focus" id="monsterSpeak"></p>
        <p class="text-left text-5xl text-error" id="damage"></p>
      </div>
    </div>
  </div>

  {{!-- <section class="hero">
    <div class="hero-content text-center">
      <div class="text-2xl">
        <p class="text-accent-focus mb-5" id="battle"></p>
        <p id="outcome" class="text-xxl text-warning mb-5"></p>
      </div>
    </div>
    </div>
  </section> --}}


<div class="hero min-h-screen">
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
        <p class="text-accent-focus text-3xl mb-5" id="battle"></p>
        <p id="outcome" class="text-5xl text-warning mb-5"></p>
    </div>
  </div>
</div>
<audio autoplay>
  <source src="../img/acdc.mp3" type="audio/mpeg">
</audio>

  <script src="../js/gamePlay.js"></script>
</section>
