<!-- <!DOCTYPE html> -->
<body
  class="w-100 bg-contain bg-center bg-no-repeat h-full"
  style="background-image: url(https://fotouz.uz/uploads/files/2019-06/1561257777_priroda-peyzazhi-nature-landscapes-tabiat-manzara-manzara-tabiat-18.jpg);"
>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-warning text-7xl">ADVENTURE QUEST</h1>
      <a href="/questboard"><button class="btn btn-info">BEGIN</button></a>
    </div>
  </div>
</body>
