<div class="hero min-h-screen" style="background-image: url(https://fotouz.uz/uploads/files/2019-06/1561257777_priroda-peyzazhi-nature-landscapes-tabiat-manzara-manzara-tabiat-18.jpg);">
<section class="flex items-stretch">

<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
<div class="form-control">
  <label class="input-group">
    <input type="text" placeholder="email" class="input input-bordered" />
  </label>
</div>
<div class="form-control">
  <label class="input-group">
    <input type="text" placeholder="password" class="input input-bordered" />
  </label>
  </div>
    <div class="card-actions justify-end">
      <button class="btn">LOGIN</button>
    </div>
  </div>
</div>

<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
<div class="form-control">
  <label class="input-group">
    <input type="text" placeholder="email" class="input input-bordered" />
  </label>
</div>
<div class="form-control">
  <label class="input-group">
    <input type="text" placeholder="password" class="input input-bordered" />
  </label>
  </div>
    <div class="card-actions justify-end">
      <button class="btn">SIGN UP</button>
    </div>
  </div>
</div>
</div>
</section>