<div class="min-h-screen" style="background-image: url(http://www.psd-dude.com/tutorials/resources-images/old-vintage-paper-textures-for-designers/grunge-stained-old-paper-texture.jpg);">
<section>
    <textarea class="textarea textarea-accent" placeholder="Bio"></textarea>
</section>


</div>