<div class="card w-96 bg-warning shadow-xl image-full">
    <section class="">
          <h1 class="mb-5 text-5xl font-bold">QUESTS</h1>
</section>
</div>
<div class="hero min-h-screen" style="background-image:url(https://imgc.allpostersimages.com/img/posters/dark-vintage-wood-texture_u-L-Q1055FI0.jpg?artHeight=550&artPerspective=n&artWidth=550&background=ffffff)">



<div class="grid grid-cols-6 gap-4 place-items-start ">
      {if}
      <button class="btn btn-primary col-start-2">LOGIN</button>
      {/if}
      {if}
      <button class="btn btn-primary col-start-2">LOGOUT</button>
      {/if}
      <button class="btn btn-primary col-start-2">CREATE QUEST</button>
      {/if}
</div>

</div>