<!-- <!DOCTYPE html> -->

<body class="w-full bg-cover bg-no-repeat h-screen"
  style="background-image:url(https://imgc.allpostersimages.com/img/posters/dark-vintage-wood-texture_u-L-Q1055FI0.jpg?artHeight=550&artPerspective=n&artWidth=550&background=ffffff)"
  >
  <h1 class="text-center mb-8 text-5xl font-bold place-content-center ">Choose Wisely</h1>
  <div class="mx-5 flex flex-col w-95 lg:flex-row">

    <div id = "adventurers" class="grid overflow-auto flex-grow card bg-base-300 rounded-box place-items-center max-h-96">
       <div>
        <h2 class="mt-3 text-5xl">Adventurers</h2>
        {{#each adventurers}} 
        {{>adventurersDisplay}}
        {{/each}}
       </div>
    </div> 

    <div class="divider self-center lg:divider-horizontal">VS</div> 

    <div id = "quests" class="grid overflow-auto flex-grow card bg-base-300 rounded-box place-items-center max-h-96">
       <div>
        <h2 class="mt-3 text-5xl">Quests</h2>
        {{#each quests}}
        {{>questDisplay}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class = "m-5 flex items-center justify-around">
    <div class = "flex">
      <div class = "self-center self-justify-center">
        <a href="/createadventurer"><button class="btn btn-wide">Create new Adventurer</button></a>
      </div>
    </div> 
    <button id= "begin" class="hidden btn btn-wide">ADVENTURE QUEST</button> 
    <div class = "flex items-center justify-around">
      <div class = "self-center self-justify-items-center">
        <a href="/create"><button class="btn btn-wide">Create new Quest</button></aN>
      </div>
    </div>
  </div>


</body>



<script src="../js/questBoard.js"></script>

