
<section class="hero min-h-screen" style="background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);">
<div class="card mx-auto mt-5" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title text-center">QUEST</h5>
   
    <p class="card-text">WIN / LOSE
    </p>
    <hr>
   <span class="card-text text-info"> 
      YOU FOUGHT HARD BETTER LUCK NEXT TIME
   </span>
   <hr>
    CONGRATS YOU DEFEATED THE MONSTER!
  </div>
  <a href="./quests"><button class="btn btn-info">RETURN TO QUESTS</button></a>
</div>
</section>